.text-shadow {
    text-shadow: 0 0 4px black;
  }

.text-shadow-white {
text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}
.card {
width: 18rem;

}
.card img {
    height: 20rem;
    object-fit: cover;
    object-position: left;
}
  /*  <!-- <div class="container-fluid rounded-5">
    <div class="row">
        <div class="col bg-danger rounded-5">
            <p class="Shinobi text-white text-shadow">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet cumque expedita necessitatibus quas praesentium ad magnam illo! Sapiente iusto eaque eius blanditiis, suscipit, quis possimus nihil temporibus dolorum asperiores aliquid?</p>
        </div>
        <div class="col bg-dark rounded-5">
            <p class="Shinobi text-primary text-shadow-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet cumque expedita necessitatibus quas praesentium ad magnam illo! Sapiente iusto eaque eius blanditiis, suscipit, quis possimus nihil temporibus dolorum asperiores aliquid?</p>
        </div>
    </div>
 </div> --> */